<h1>Edit Photo</h1>

<p>
  <%= link_to "Back", photo_path %>
</p>

<%= form_for @photo do |f| %>
  <div class="field">
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
