<h1><%= @photo.title %> (<%= @photo.year %>)</h1>
<p>
  <%= link_to "Back", photos_path %> | <%= link_to "Edit", edit_photo_path %> | <%= link_to "Delete", @photo, method: :delete, data: {commit: "Are you sure you want to delete this photo?"} %>
</p>
<p>By <%= @photo.artist %></p>
<%= image_tag(@photo.url) %>
